@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

html.dark {
  background-color: rgb(17 24 39);
}

html.dark body {
  background-color: rgb(17 24 39);
}

.container {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Nunito Variable', 'Inter Variable', sans-serif;
}
